.sidebar {
  display: flex;
  flex-direction: column;
  width: 245px;
  height: 100vh;
  background-color: rgb(245 245 245);
  padding-left: 10px;
  flex-shrink: 0;
  min-width: 245px;
  max-width: 480px;
}

.sidebar-header {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 6px;
  margin-top: 20px;
  overflow-y: auto;
  min-height: 0;
}

.sidebar-header__workspace-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  background-color: rgb(245 245 245);
  border: none;
  border-radius: 6px;
  transition: background-color 0.05s ease;
  cursor: pointer;
  margin-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
}

.sidebar-header__workspace-button:hover {
  background-color: rgb(235 235 235);
}

.sidebar-header__workspace-left {
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar-header__workspace-left span {
  padding-left: 24px;
}

.sidebar-header__active-workspace {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  font-size: 15px;
  color: black;
  margin-right: 7px;
}

.sidebar-header__rename-workspace-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  font-size: 14px;
  color: black;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition:
    opacity 0.1s ease,
    background-color 0.05s ease;
  opacity: 0;
  cursor: pointer;
  padding: 2px;
}

.sidebar-header__workspace-button:hover
  .sidebar-header__rename-workspace-button {
  opacity: 1;
}

.sidebar-header__create-new-workspace-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: rgb(20 130 204);
  background-color: rgb(245 245 245);
  border: none;
  border-radius: 6px;
  transition: background-color 0.05s ease;
  cursor: pointer;
  margin-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 22px;
}

.sidebar-header__create-new-workspace-button:hover {
  background-color: rgb(235 235 235);
}

.sidebar-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-bottom: 40px;
  flex-shrink: 0;
}

.sidebar-footer__delete-workspace-button {
  color: white;
  background-color: rgb(218 74 74);
  border: none;
  border-radius: 6px;
  transition: background-color 0.1s ease;
  cursor: pointer;
  padding: 8px 22px;
}

.sidebar-footer__delete-workspace-button:hover {
  background-color: rgb(189 64 64);
}

.sidebar-footer__trash-button {
  display: flex;
  align-items: center;
  width: 96%;
  gap: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  transition: background-color 0.05s ease;
  cursor: pointer;
  margin-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
}

.sidebar-footer__trash-button:hover {
  background-color: rgb(235 235 235);
}

.sidebar-footer__logout-button {
  color: black;
  background-color: rgb(218 218 218);
  border: none;
  border-radius: 6px;
  transition: background-color 0.1s ease;
  cursor: pointer;
  padding: 5px 20px;
}

.sidebar-footer__logout-button:hover {
  background-color: rgb(201 201 201);
}
