.sortable-item {
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  transition: transform 0.2s ease;
  cursor: pointer;
  margin: 8px 10px;
  white-space: nowrap;
}

.sortable-item:hover .drag-handle-button {
  opacity: 1;
}

.sortable-item.dragging .drag-handle-button {
  opacity: 0;
}

.drag-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  transition: opacity 0.2s ease;
  margin-right: 14px;
  flex-shrink: 0;
}

.content-zone {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.sortable-item.page:hover:not(:has(.drag-zone:hover)) .content-zone {
  background-color: rgb(235 235 235);
}

.sortable-item.block {
  cursor: text;
}
