# Dependencies
node_modules/
node_modules/.vite/

# Build output
dist/

# Environment variables (frontend + backend)
.env

client/.env
client/.env.*

server/.env

# VS Code
.vscode/

# Copy of database
full_dump.sql