.login__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.login__demo-button {
  position: absolute;
  top: 30px;
  right: 50px;
  font-size: 14px;
  color: white;
  background-color: rgb(69 93 211);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
}

.login__form {
  display: flex;
  flex-direction: column;
  width: 360px;
  gap: 20px;
}

.login__input-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 12px;
  font-weight: 600;
  color: rgb(125 122 117);
}

.login__input-field {
  font-size: 14px;
  border: 1px solid rgb(214 214 214);
  border-radius: 8px;
  padding: 10px;
}

.login__button {
  font-size: 14px;
  color: white;
  background-color: rgb(58 132 228);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
}

.login__signup-row {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 24px;
}

.login__signup-text {
  color: rgb(102 102 102);
  margin-right: 6px;
}

.login__signup-text,
.login__signup-link {
  font-size: 14px;
  line-height: 1;
}

.login__signup-link {
  color: rgb(102 102 102);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-color: rgb(102 102 102);
}

.login__signup-link:hover {
  color: rgb(76 179 226);
  text-decoration-color: rgb(76 179 226);
}
